body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 40px 100% 40px;
    grid-template-areas: 
    "navbar" 
    "main" 
    "footer";
}
.toplink {
    text-decoration: none;
    color: black;
}
.toplink:hover {
    text-decoration: underline;
}
#navbar {
    display: grid;
    grid-template-columns: 70px 70px 1fr 70px 70px 50px 100px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images app-menu sign-in";
    height: 44px;
    justify-items: center;
    align-items: center;
    padding: 0 10px 0 10px;
    grid-area: navbar;
}
#about {
    grid-area: about;
}
#store {
    grid-area: store;
}
#images {
    grid-area: images;
}
#gmail {
    grid-area: gmail;
}
#app-menu {
    grid-area: app-menu;
}
#sign-in {
    grid-area: sign-in;
}

#sign-in-btn {
    width: 100px;
    height: 30px;
    border: 0px solid white;
    border-radius: 2px;
    color: white;
    background-color: #00A1f1;
    font-weight:bold;
    font-size: 1rem;
    
}
#app-menu-btn {
    width: 30px;
    height: 30px;
}

#main {
    grid-template-areas: main;
    text-align: center;
    margin: 250px auto 0;
    height: 600px;
}
#logo {
    text-align: center;
    margin-top: 300px;
}
#searchcontainer {
    text-align: center;
}
#search {
    width: 500px;
    height: 34px;
    border-radius: 20px;
    color: rgba(0,0,0,.87);
    border: 1px solid rgb(179, 179, 192);
}
#search:hover{
    box-shadow: 0 0 1px 1px rgba(179, 179, 192);
}
.btn {
    margin-top: 20px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 54px;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 10px;
}
.btn:hover {
    border: 1px solid #c5c5c5;
}
#search-button {
    display: inline-block;
}
#lucky-button {
    display: inline-block;
}

#footer {
    grid-template-areas: footer;
    color: #70757a;
    height: 50px;
    background-color: rgb(207, 203, 203);
    border-bottom: 1px solid grey;
    font-size: 14px;
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 110px 110px 120px 1fr 120px 110px 110px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "advert business how-search-works carbon privacy terms settings";
    padding: 0px 20px 0px 10px;
}
.bottomlink {
    text-decoration: none;
    color: black;
}
.bottomlink:hover {
    text-decoration: underline;
}
#advertising {
    grid-area: advert;
}
#business {
    grid-area: business;
}
#how-search-works {
    grid-area: how-search-works;
}
#carbon {
    grid-area: carbon;
}
#carbon-img {
    height: 14px;
    width: 14px;
}
#privacy {
    grid-area: privacy;
}
#terms {
    grid-area: terms;
}
#settings {
    grid-area: settings;
}